
*{margin:0 ;
padding: 0;}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
    font-size: 100%;
    text-align: center;

}
header{
    text-align: center;
 padding: 5%;
 background-color: rgb(208, 255, 0);
}
h2{
    padding-top: 5%;
    padding-bottom: 5%;
}
.clas{
    background-color: rgba(223, 247, 239, 0.336);
   
}

footer{
    background-color: black;
    padding: 5%;
}
