* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
    font-family: 'Koulen', cursive !important;
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
}

header {
    text-align: center;
    text-shadow: 3px 3px rgba(248, 4, 4, 0.733);
}

h1 {
    font-family: 'Koulen', cursive !important;
    font-size: 1000%;

}
h2 {
    font-family: 'Koulen', cursive !important;
    padding-top: 5%;
    padding-bottom: 5%;
}

#clases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 200%;
    color: black;
    text-shadow: 0.5px 0.5px rgba(196, 8, 8, 0.582);
}
#confirm {
    font-size: 200%;
    color: rgba(196, 8, 8, 0.582);
    text-shadow: 1px 1px black;
}
    
.formConten {
    background-image: url(./imagenes/fondoGym.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 175%;
}
#form{
    font-size: 200%;
    color: rgba(196, 8, 8, 0.582);
    text-shadow: 1px 1px black;
}
.formulario {
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.596);
}

footer {
    font-size: 300%;
    background-color: black;
    padding: 5%;
}
button.swal2-confirm.swal2-styled{
    background-color: rgb(196, 8, 8);
    font-size: 200%;
}